body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
}

.task-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.task-column {
    min-width: 250px;
    background-color: #FF0000;
    border-radius: 8px;
    padding: 10px;
    flex: 1;
}

.task-card {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    margin: 15px;
}

.logout-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.logout-card {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
}



.task-card h3 {
    margin-top: 0;
    font-size: 18px;
}

.task-card p {
    margin: 5px 0;
    font-size: 14px;
}

.priority-high {
    color: red;
    font-weight: bold;
}

.priority-medium {
    color: orange;
    font-weight: bold;
}

.priority-low {
    color: green;
    font-weight: bold;
}

.task-detail {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.task-detail h1 {
    font-size: 24px;
}

.task-detail p {
    font-size: 16px;
}